$red: #a4031f;
$purple: #240b36;
$yellow: #f2dc5d;
$landColor: #db9065;


.Dashboard {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: $landColor;
    height: calc(100vh - 100px);
    overflow: auto;
    >.new-post-container {
        position: fixed;
        left: 140px;
        top: 150px;
        > .post-input {
            height: 100px;
            width: 300px;
            overflow-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
            border-radius: 15px;
            border:none;
            padding: 10px;
            font-size: 24px;
            font-family: sans-serif;
            background: whitesmoke;
        }
    }
    .post {
        border: black solid 3px;
        border-radius: 5px;
        width: 450px;
        background: whitesmoke;
        margin-bottom: 10px;
        padding: 25px;
    }
    .post > .user-pic {
        max-height: 64px;
        border-radius: 15px;
    }
    .post > p {
        text-decoration: underline;
    }
    .post > span {
        overflow-wrap: break-word; 
        height: 100px;
        // border: black solid 3px;
        font-size: 24px;
    }
}