$red: #a4031f;
$purple: #240b36;
$yellow: #f2dc5d;
$landColor: #db9065;


.Dashboard {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: $landColor;
    // height: calc(100vh - 100px);
    height: calc(100% - 100px);
    overflow: auto;
    // padding-bottom: 55px;
    > .post-container {
        margin-bottom: 30px;
        >.post {
            border: black solid 3px;
            border-radius: 5px;
            width: 90vw;
            
            background: whitesmoke;
            margin-bottom: 10px;
            // padding: 25px;
            padding-top: 5px;
            // display: flex;
            // flex-direction: column;
            // justify-content: flex-start;
            
            > .post-user {
                > .user {
                    border-radius: 50px;
                }
                > .user-pic {
                    width: 64px;
                    height: 64px;
                    // border-radius: 15px;
                    // border: black solid 2px;
                    > .user-pic:hover {
                        cursor: pointer;
                        
                    }
    
    
            }
        }
            > .post-user > p {
                text-decoration: underline;
                text-align: center;
            }
            > .content-container {
                padding: 10px;
                min-height: 100px;
                > span {
                overflow-wrap: break-word; 
                height: 100px;
                // padding: 10px;
                // border: black solid 3px;
                font-size: 18px;
                font-weight: 400;
        }}
        }
    }
    hr {
        color: black;
        background: black;
        border: 2px solid black
    }
    
    >.new-post-container {
        // position: fixed;
        // left: 140px;
        // top: 150px;
        
        > .post-input {
            height: 50px;
            width: 200px;
            overflow-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
            border-radius: 15px;
            border:none;
            padding: 10px;
            font-size: 24px;
            font-family: sans-serif;
            background: whitesmoke;
            transition: 500ms;
            
        }
        > .post-input:focus {
            height: 300px;
            width: 250px;
            overflow-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
            border-radius: 15px;
            border:none;
            padding: 10px;
            font-size: 24px;
            font-family: sans-serif;
            background: whitesmoke;
            transition: 500ms;
        }
    }

}